:root {
    --yellowcolor: #e0bd21;
    --titlefontsize: 30px;
    --backgroundcolor: #200005;
    --letterscolor: #fff6f9;
    --colorbasese: #000000;
    --navegatorheight: 50px;
    --otherbackground: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorbasese);
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundcolor);
    height: var(--navegatorheight);
    position: relative;

}

.header .title {
    color: var(--letterscolor);
    flex-direction: row;

}

/* NAVEGATOR */


.navegator {
    color: #000;
    width: 98%;
    height: var(--navegatorheight);
    max-width: 1280PX;
    background-color: rgb(77, 80, 79);
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100%;
    position: relative;
}


.navegator .links {
    width: 100%;
    background-color: #d0d3c5;
    padding: 10px;


}

.navegator .links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 39px;
    padding: 15px;

}

.navegator .links>ul>li>a {
    transition: all 300ms ease;
    font-size: 20px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.navegator .links>ul>li>a:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    font-size: 14px;
    background-color: #000000;
    padding: 15px var(--navegatorheight);
    color: var(--letterscolor);
}


.navegator>nav>ul>li>a {
    color: #000;
    text-decoration: none;

}


.navegator .links>ul>li>ul {
    display: none;
}

/* MAIN */

.main {
    grid-area: main;
    background-color: var(--backgroundcolor);
    padding: 50px;
    color: var(--letterscolor);
    max-width: 1280PX;
}

.imgage_Section_1 {
    background-color: rgb(122, 103, 103);
}

.imgage_Section_1 .img_one {
    margin: 0 auto;
    width: 100px;
    height: 100px;

}

.imgage_Section_1 .image_title {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    padding: 59px;
    color: #000;


}

.imgage_Section_1 .img_one img {
    width: 50px;
    height: 50px;

}

.main_sidebar {
    max-width: 1280PX;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, auto;
    grid-template-areas: "main main main sidebar";
    grid-gap: 2%;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--backgroundcolor);
    grid-area: sidebar;
    padding: 50px;

    color: var(--letterscolor);

}

.footer {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;

    background-color: var(--otherbackground);
    color: var(--letterscolor);
}

.footer .foote_title {
    font-size: 20px;
}



@media screen and (max-width: 768px) {


    .main_sidebar {
        min-width: 160px;
        grid-template-rows: 2, auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "main main main main" "sidebar sidebar sidebar sidebar";
    }

    .main {
        background-color: red;

    }

    .sidebar {
        background-color: green;
        margin-bottom: 40px;
    }

    .navegator .links .as .a_1 {
        grid-area: a1;
        margin: 0 auto;
    }

    .navegator .links .as .a_2 {
        grid-area: a2;
        margin: 0 auto;
    }

    .navegator .links .as .a_3 {
        grid-area: a3;
        margin: 0 auto;
    }

    .navegator .links .as  .a_4 {
        grid-area: a4;
        margin: 0 auto;
    }

    .navegator .links .as{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 2,2fr;
        grid-template-areas: "a1 a2" "a3 a4";
        
    }

    .navegator .links>ul>li>a {
        transition: all 300ms ease;
        font-size: 15px;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
    }
    
    .navegator .links>ul>li>a:hover {
        transform: scale(0.2);
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        font-size: 15px;
        background-color: #000000;
        padding: 12px;
        border-radius: 0.55em;
        color: var(--letterscolor);
        -webkit-border-radius: 0.55em;
        -moz-border-radius: 0.55em;
        -ms-border-radius: 0.55em;
        -o-border-radius: 0.55em;
}
    
    




}