:root{
 --yellowcolor: #e0bd21;
 --titlefontsize: 30px;
 --backgroundcolor: #200005;
 --letterscolor: #fff6f9;
 --colorbasese: #000000;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: var(--colorbasese);
}

.header {

    background-color: var(--backgroundcolor);
    height: 80px;
    position: relative;
   
}
.header .title{
    display: flex;
    color: var(--letterscolor);
    flex-direction: row;
    justify-content: center;

}


.navegator{
    margin-bottom: 20px;
    color: var(--letterscolor);
}

.main{
    grid-area: main;
    background-color: var(--backgroundcolor);
    padding: 50px;
    color: var(--letterscolor);
}

.main .main_container{



}

.main_sidebar{
    width: 90%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1, auto;
    grid-template-areas: "main main main sidebar";
    grid-gap: 2%;
}

.sidebar{
    background-color: var(--backgroundcolor);
    grid-area: sidebar;
    padding: 50px;
    
    color: var(--letterscolor);
   
}

.navegator{
    width: 98%;
    background-color: rgb(77, 80, 79);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

.navegator .links ul{
list-style-type: none;
display: flex;
flex-direction: row;
gap: 30px;


}

