#nav-bar-header{
    background-color: rgba(255, 255, 255, 0.623);

}

.link-head {
    width: 100%;
    background-color: #8c8c8c;
    padding: 10px 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.link-head:hover {
    text-align: center;
    text-wrap: nowrap;
    width: 100%;
    border: #313131 2px solid;
    background-color: #f0a94c;
    font-size: 1.12rem;
    align-items: center;
    transform: scaleX(1.02);
    transform: scaleY(1.0);
    transform-origin: left center;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transform: scaleX(1.02);
    -moz-transform: scaleX(1.02);
    -ms-transform: scaleX(1.02);
    -o-transform: scaleX(1.02);
}
