:root {
    --grecolor: rgb(93, 95, 97);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #dbd8d8;
}

@media screen and (max-width:713px) {}

@media screen and (max-width:773px) {

    body {
        font-size: 15px;
    }

    #profile-image {
        display: none;
    }

    #profile-title {
        font-size: clamp(40px, 8vw, 90px);
    }

}