* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: aliceblue;
  height: 50px;
  padding: 1em;
  grid-area: header;
  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  -ms-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  color: #121212;
}

.description {
  grid-area: description;
  background-color: yellow;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.themain {
  background-color: #afdb5e9f;
  grid-area: main;
  padding: 1.5em;
}

.sidebar {
  background-color: peru;
  grid-area: side;
  margin-left: 0.5em;
}

body {
  height: 100%;
  margin: 1em;
  background-color: #a19e9ce3;
  display: grid;
  grid-template-rows: 4, auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "description  description description"
    "main main  side"
    "notech tech side";

  transition: ease-in 0.4s;
  -webkit-transition: ease-in 0.4s;
  -moz-transition: ease-in 0.4s;
  -ms-transition: ease-in 0.4s;
  -o-transition: ease-in 0.4s;
}
.licontainer {
  overflow-y: hidden;
}
.theabilities {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  height: 20em;
  overflow-y: hidden;
  width: 100%;
}

.headeTop {
  display: flex;
  background-color: #aa4141;
}

.soft:hover ,.technical:hover{
  overflow-y: scroll;
  padding: 1em;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

.soft:hover::-webkit-scrollbar, .technical:hover::-webkit-scrollbar {
  -webkit-appearance: none;
}

.soft:hover::-webkit-scrollbar:vertical,  .technical:hover::-webkit-scrollbar:vertical {
  width: 10px;
}

.soft:hover::-webkit-scrollbar-button:increment, .technical:hover::-webkit-scrollbar-button:increment
.soft::-webkit-scrollbar-button {
  display: none;
}

.soft:hover::-webkit-scrollbar:horizontal, .technical:hover::-webkit-scrollbar:horizontal {
  height: 10px;
}

.soft:hover::-webkit-scrollbar-thumb, .technical:hover::-webkit-scrollbar-thumb {
  background-color: #aa4141;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.soft:hover::-webkit-scrollbar-track, .technical:hover::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.description > ul {
  display: flex;
  flex-direction: row;
  gap: 4em;
  text-decoration: none;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.description > ul > li {
  background-color: rgb(255, 0, 0);
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  border-radius: 90em;
  -webkit-border-radius: 90em;
  -moz-border-radius: 90em;
  -ms-border-radius: 90em;
  -o-border-radius: 90em;
}

.description > ul > li > a {
  background-color: rgb(255, 0, 0);
  transition: ease 0.7s;
  -webkit-transition: ease 0.7s;
  -moz-transition: ease 0.7s;
  -ms-transition: ease 0.7s;
  -o-transition: ease 0.7s;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  transition: ease-in 0.4s;
  -webkit-transition: ease-in 0.4s;
  -moz-transition: ease-in 0.4s;
  -ms-transition: ease-in 0.4s;
  -o-transition: ease-in 0.4s;
  border-radius: 90em;
  -webkit-border-radius: 90em;
  -moz-border-radius: 90em;
  -ms-border-radius: 90em;
  -o-border-radius: 90em;
  border: #121212 solid 2px;

}

.description > ul > li > a:hover {
  background-color: rgb(220, 226, 231);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

.description > ul > li > button {
  background-color: rgb(255, 0, 0);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 90em;
  -webkit-border-radius: 90em;
  -moz-border-radius: 90em;
  -ms-border-radius: 90em;
  -o-border-radius: 90em;
}

.description > ul > li > button:hover {
  background-color: rgb(247, 247, 247);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

body.night-mode {
  background-color: #121212;
  color: #ffffff;
  transition: ease-in 0.4s;
  -webkit-transition: ease-in 0.4s;
  -moz-transition: ease-in 0.4s;
  -ms-transition: ease-in 0.4s;
  -o-transition: ease-in 0.4s;
}

body.night-mode > header {
  background-color: #461919;
  color: #ffffff;
  transition: ease-in 0.4s;
  -webkit-transition: ease-in 0.4s;
  -moz-transition: ease-in 0.4s;
  -ms-transition: ease-in 0.4s;
  -o-transition: ease-in 0.4s;
}

.post{
    background-color: #12ff32;
    padding: 1.3em;
    margin: 0.4em;
}

.an_image{
    width: 100%;
    height: 100%;
    border: #121212 solid  2px;
    margin-top: 1em;
}

.soft{
    background-color: wheat;
    width: 50%;
   
}

.technical{
    background-color: whitesmoke;
    width: 50%;
}


@media (min-width: 300px) and (max-width: 2560px) {
   
    *{
    background-color: rgb(255, 0, 0);
   }
}

