*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #dbd8d8;
  
}

main{
  /*     background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #000000); /* Define el degradado, en este caso de transparente a negro */

}

#code-space_who_am_I{
    color: #b6b6b6;
    
}

#code-space_who_am_I{
    background-color: #504c4c;
}

#who_am_I_container p{
}

#who_am_I_title{
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  left: -0.3rem;
}

#which_languages_I_know #Laguages-title-box{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    color: #773a00;
}
/* 
#language-box{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2,1fr);
    background-color: aquamarine;
}
 */
#language-mini-containers{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    padding: 3rem;
    border: 4px black solid;
    border-radius: 9px;
    background-color: #ffffff;
    grid-template-areas: "title flag" "Info Info";
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

#headerlanguages{
    padding: 7px 1rem;
    align-items: center;
    background-color: #363434;
    border-radius: 3px 5px 3px 5px;
    -webkit-border-radius: 3px 5px 3px 5px;
    -moz-border-radius: 3px 5px 3px 5px;
    -ms-border-radius: 3px 5px 3px 5px;
    -o-border-radius: 3px 5px 3px 5px;
    margin-bottom: 2rem;
    color: #e6e6e6;
}


.language{ 
    width: 50%;
}

#art{
    width: 70%;
    gap: 3rem;
    margin-bottom: 9rem;
}

#language-box{
    
}