*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #dbd8d8;
  
}

main{
  /*     background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #000000); /* Define el degradado, en este caso de transparente a negro */

}

#code-space_who_am_I{
    color: #b6b6b6;
    
}

#code-space_who_am_I{
    background-color: #504c4c;
}

#who_am_I_container p{
}

#who_am_I_title{
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  left: -0.3rem;
}

#which_languages_I_know #Laguages-title-box{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    color: #773a00;
}
/* 
#language-box{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2,1fr);
    background-color: aquamarine;
}
 */
#language-mini-containers{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    padding: 3rem;
    border: 4px black solid;
    border-radius: 9px;
    background-color: #ffffff;
    grid-template-areas: "title flag" "Info Info";
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

#headerlanguages{
    padding: 7px 1rem;
    align-items: center;
    background-color: #363434;
    border-radius: 3px 5px 3px 5px;
    -webkit-border-radius: 3px 5px 3px 5px;
    -moz-border-radius: 3px 5px 3px 5px;
    -ms-border-radius: 3px 5px 3px 5px;
    -o-border-radius: 3px 5px 3px 5px;
    margin-bottom: 2rem;
    color: #e6e6e6;
}


.language{ 
    width: 50%;
}

#art{
    width: 70%;
    gap: 3rem;
    margin-bottom: 9rem;
}

.title_PL{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    color: #55cbe9;
    font-size: 2.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#Programming-languages{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-programming{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

#header-programming img{
    height: 100%;
    padding: 0.2rem;
    padding-top: .7rem;
}

#Programming-languages-boxes{
    display: flex;
    flex-direction: row;
    background-color: #504c4c;
    margin-top: 3rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

#Programming-languages-boxes .box{
    max-width: 318.47px;
    border: 2px solid #313131;
    background-color: #e5f0f3;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    min-width: 235.67px;
}

#Programming-languages-boxes .box img{
width: 50%;
}

.header-box-programming {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.85rem;
    gap: 1rem;
}

.box p{
padding: .8rem;
text-align: justify;
}


#tools_I_use{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 82%;
    margin: 0 auto;

}

#tools_I_use_div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#tools_I_use_header{
padding: 3rem 0;
}

#tools_I_use_header h1{

    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #b58863;
}

#tools_I_use #content_tools .box_tool{
    border: 2px solid #313131;
    background-color: #e5f0f3;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    min-width: 100px;
    max-width: 150px;
}

#tools_I_use #content_tools .box_tool img{ width: 80%; margin: 0 auto; padding: 0.8rem; border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px;
}

#microsoft-img{
    width: auto;
    padding: 0;
    margin: 0;
}

#microsoft-img img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}


#content_tools{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width:713px){
 
    body{
        color: #55cbe9;

    }
}
